[submodule "backend"]
	path = backend
	url = https://github.com/PanDuro14/cafemanagerBackend.git
	branch = main

[submodule "frontend"]
	path = frontend
	url = https://github.com/PanDuro14/cafemanagerf.git
	branch = main
